:root{
    --background: #20371f;
}

.page{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.header{
    color: #F9FAF8;
    display: flex;
    background-color: var(--background, blue);
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 24px;
    margin-left: 75px;
}
.header-link{
    margin-right: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background, blue);
    height: 200px;
    padding: 75px;

}
.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    height: 200px;
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E7EB;
    height: 300px;
    font-size: 24px;
    font-style: italic;
    color: #1F2937;

}
#author{
    padding-top: 0px;
    margin-top: 0px;
    color: #000;
    font-style:normal;
    font-weight: bold;
}
.cta{
    height: 200px;
}

.footer{
    background-color: var(--background, blue);
    height: 60px;
}

h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 0px;
}

#hero-small{
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: #F9FAF8;
    font-weight: bold;
    background-color: #83e17f;
    border: 0px;
    border-color: transparent;
    border-radius: 12px;
    height: 40px;
    width: 100px;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
}

.middle{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}